* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #55786d;
    text-align: center;
}

.continer {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border: none;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 10vmin;
    color: red;
    background-color: rgb(42, 42, 11);
}

#reset_btn {
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #090b0b;
    color: white;
    border-radius: 1rem;
    border: none;
}

#new_btn {
    padding: 1.5rem;
    font-size: 1.5rem;
    background-color: #0f1414;
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: rgb(217, 211, 159);
    font-size: 7vmin;
}

.msg_continer {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}
